node_modules
mochawesome-reports
mochawesome-report
coverage
.nyc_output
.idea
._.DS_Store
.DS_Store
*.log
*.ipc
*.pid
dump.rdb
api-server/plugins/*
.vscode/
classes_schema.js
apidoc
api-server/lib/*
!api-server/lib/admin
appspec.yml
deployment_scripts
sentinel1.conf